body {
  max-width: 98vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.how-to {
  font-weight: 700;
  border: 1px solid silver;
  font-size: 22px;
  border-radius: 5px;
  padding: 3px;
  background-color: tomato;
  width: max-content;
  border-color: #000;
}

.rules {
  font-size: 20px;
  text-align: center;
  padding: 3px;
}
